services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"  # Change the left side to 5001
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development

  frontend:
    build: ./frontend
    ports:
      - "3005:80"
    depends_on:
      - backend